
.s-bg-light {
  background-color: #e6e6e6;
}
.s-bg-white {
  background-color: #FFF;
}
.s-header {
  background-color: #117a8b;
  font-size: large;
}
.s-uppercase {
  text-transform: uppercase;
}
.s-border-none {
  border: none;
}
.s-user-img {
  width: 80px;
  height: 80px;
  border: 3px solid #999;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}